In [ ]:
a=input()
su=int(a)
while (su>=10):
  b=[]
  for i in a:
    b.append(int(i))
  su=sum(b)
  a=str(su)

print(su)

1000
1

In [ ]:
def sum_to_single_digit(num):

    num_str = str(num)
    
    while len(num_str) > 1:
        num_sum = sum(int(digit) for digit in num_str)
        
        num_str = str(num_sum)
    
    return int(num_str)
a = int(input())
sum_to_single_digit(a)

12345

6

In [ ]:
def summ(a,b):
  s=a+b
  return s
summ(10,9)

19

In [ ]:
x=lambda a, b: a+b
x(3,5)

8

In [ ]:
#counting duplicates in number
def count_dup(l):
  d={}
  for i in l:
      #l1.append(l.count(i))
      d[i]=l.count(i)
  return (d)
l=input()
count_dup(l)

22323121

{'2': 4, '3': 2, '1': 2}

In [ ]:
#rotate a given array by given steps
def rotate_array(A, K):
    N = len(A)
    # calculate the effective rotation by taking mod N
    K = K % N
    # if K is 0, array doesn't need to be rotated
    if K == 0:
        return A
    # reverse the first N-K elements
    A[:N-K] = reversed(A[:N-K])
    print('A[:N-K]', A)
    # reverse the last K elements
    A[N-K:] = reversed(A[N-K:])
    print('A[N-K:]', A)
    # reverse the entire array
    A[:] = reversed(A)
    return A

# example usage
A = [1, 2, 3, 4, 5]
K = 2
rotated = rotate_array(A, K)
print(rotated)  # prints [4, 5, 1, 2, 3]

A[:N-K] [3, 2, 1, 4, 5]
A[N-K:] [3, 2, 1, 5, 4]
[4, 5, 1, 2, 3]

In [ ]:
a=[1,2,3,4,5]
k=3
n=5
y= reversed(a[:k])
x=a[k:n]

In [ ]:
#factorization using recursive function
def fact(n):
  if n==1:
    return 1
  else:
    return n*fact(n-1)
n=int(input())
print(fact(n))

5
120

In [ ]:
#reveraing a number
n=int(input())
r=0
while n!=0:
   r = r*10 + n%10
   n = (n//10)
r

2324

4232

In [ ]:
#fibonacci
n=7
n1=0
n2=1
c=0
print(n1)
while c<n:
 
  
  nth=n1+n2
  n1=n2
  n2=nth
  c=c+1
  print(nth)
print ("----------------------------------")

0
1
2
3
5
8
13
21
----------------------------------

In [ ]:
# prime numbers
import math
s=5
n=20
for num in range(s, n + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, int(math.sqrt(num))+1):
           if (num % i) == 0:
               break
       else:
           print(num)

5
7
11
13
17
19

In [ ]:
x = "Hello, world!"
print(x[7:])

world!

In [ ]:
x = [1, 2, 3]
y = x
y += [4]
print(x)

[1, 2, 3, 4]

In [ ]:
def func(x):
    x += 5
    return x

x = 10
x = func(x)
print(x)

15

In [ ]:
x = [1, 2, 3]
y = x
y[0] = 0
print(x)

[0, 2, 3]

In [ ]:
x = 1
if x == 1:
    x = "one"
elif x == 2:
    x = "two"
else:
    x = "unknown"
print(x)

one

In [ ]:
x = [1, 2, 3]
y = x.copy()
y[0] = 0
print(x)

[1, 2, 3]